.list_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 10%;
    justify-content: flex-start;
    align-items: center;
    background-color: #fdf7f9 ;
    
}
.highScore_list{
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    padding: 15% 10%;
    border: 3px solid #ffffff;
    outline: 1px solid #000;
    justify-content: space-around;
    align-items: center;
    background-color: #84d2fc ;

}
.highScore_item {
    width: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 2rem;
}
.player_data {
    justify-content: space-between;
}

.highScore_itemStrong {
    margin-bottom: 2%;
}