.nav_container {
    background-image: url('../../../public/media/img/rotom_background.png');
    background-size:contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center top;
    display: flex;
    width: 100%;
    padding: 5% 0 17%;
    align-items: flex-start;
    justify-content: space-around;
}


@media (max-width:768px) {
    .nav_container{
        background-size:cover;
        background-attachment: scroll;
        /* padding: 3% 0 17%; */
        justify-content: space-between;
    }
}
