.footer_container {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #e93b3b;
    border-top: 1px solid #000;
    z-index: 10;
}
